################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Room Builder/v15
/Debug
/Room Builder/Debug
